{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    <title>Chennai Jobs </title>
</head>
<body>

    <h1 style="color: blue; text-align: center; font-size: 40px;">Chennai Jobs Information</h1>


<div style="display:flex; gap:10px;">
    <img src="{% static 'images/chennai2.jpg' %}" style="width:500px; height:300px; object-fit:cover;">
    <img src="{% static 'images/chennai1.jpg' %}" style="width:500px; height:300px; object-fit:cover;">
    <img src="{% static 'images/chennai3.jpg' %}" style="width:500px; height:300px; object-fit:cover;">
</div>


    <hr>
    {% if jobs_list %}
        <table id="tab" border="1" style="width:100%;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Company</th>
                    <th>Title</th>
                    <th>Eligibility</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs_list %}
                <tr>
                    <td>{{ job.date }}</td>
                    <td>{{ job.company }}</td>
                    <td>{{ job.title }}</td>
                    <td>{{ job.eligibility }}</td>
                    <td>{{ job.address }}</td>
                    <td>{{ job.email }}</td>
                    <td>{{ job.phone_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Jobs Found in Chennai</p>
    {% endif %}

</body>
</html>